QPushButton {
    background-color: #ee4855;
    border-radius: 0;
    padding: 5px;
    color: #fff;
}

QPushButton:pressed {
    /* background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                      stop: 0 #dadbde, stop: 1 #f6f7fa); */
    /* background-color: #ee5464; */
    background-color: #f0162c;
}
